/* Thin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("Montserrat-Thin.woff2") format("woff2");
}

/* ExtraLight */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("Montserrat-ExtraLight.woff2") format("woff2");
}

/* Light */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("Montserrat-Light.woff2") format("woff2");
}

/* Regular */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("Montserrat-Regular.woff2") format("woff2");
}

/* Medium */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("Montserrat-Medium.woff2") format("woff2"), url("Montserrat-Medium.ttf") format("ttf");
}

/* SemiBold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("Montserrat-SemiBold.woff2") format("woff2");
}

/* Bold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("Montserrat-Bold.woff2") format("woff2");
}

/* ExtraBold */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("Montserrat-ExtraBold.woff2") format("woff2");
}

/* Black */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("Montserrat-Black.woff2") format("woff2");
}
