@import "~beta-scss/packages/global";

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  &:focus {
    outline-color: map-get($colors, "transparent");
  }
  &::selection {
    background-color: map-get($colors, "teal-darker");
    color: map-get($colors, "white");
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: map-get($colors, "grey-darkest");
  }
  ::-webkit-scrollbar-thumb {
    background: map-get($colors, "blue-dark");
  }
}

html {
  color: map-get($colors, "black");
  background-color: map-get($colors, "black");
}

@import "table.scss";
@import "transition.scss";
