// opacity
.opacity-enter-active {
  transition: all 0.3s ease;
}
.opacity-leave-active {
  transition: all 0.3s ease;
}
.opacity-enter,
.opacity-leave-to {
  opacity: 0;
}

.flip-enter-active {
  animation: flipInX 0.6s;
}
.flip-leave-active {
  animation: flipOutX 0.6s;
}
.flip-enter,
.flip-leave-to {
  display: none;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
